<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <header>
        <p>LOGO</p>
        <div>
            <img src="../static/img/1708190589974.jpg" alt="">
        </div>
    </header>
    <section>

        <div class="swiper">
            <p>Básico</p>
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="../static/img/cursoimage.webp" alt="">
                <div class="overlay">

                    <i class="fa-sharp fa-solid fa-lock"></i>
                    <span>Bloqueado <br>Apenas Para Membros/Assinantes</span>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="../static/img/cursoimage.webp" alt="">
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>