<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <p>Barber Course</p>
            <div class="perfil">
                <div class="perfil-options">
                    <p>Perfil</p>
                    <p>Sair</p>
                </div>
                <div class="perfil-image">
                    <img src="../static/img/1708190589974.jpg" alt="">
                </div>
            </div>
        </header>
        <section>
            <article>
                <p>Comece Por Aqui</p>
                <div class="video">
                    <img src="../static/img/cursoimage.webp" alt="">
                    <div class="lock-overlay">
                        <i class="fa-sharp fa-solid fa-lock"></i>
                        <span class="lock-text"><p>Só para membros</p> Este é um Conteúdo Pago, para desbloquear, realize a compra</span>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>