<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <header>

        </header>
        <div class="container">
            <div class="content">
                <div>
                    <video src=""></video>
                </div>
                <div>
                    <div>
                        <p>01 - Introdução ao Curso</p>
                        <p>Baixando o Davinci</p>
                    </div>
                    <div>
                        <a href="">Marcar Como Concluído</a>
                        <a href="">Gostei</a>
                    </div>
                </div>
            </div>
            <div class="videos">
                <div class="video">
                    <p>Primeiro Vídeo</p>
                    <p>01 - Introdução ao Curso</p>
                    <div class="video-image">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>