<header>

    <a id="logo">Djangofy</a>
    <div class="perfil">

        <div class="perfil-image">
            <img src="{{user.profileimg.url}}" alt="">
            <div class="options">
                {% if request.user.is_staff %}
                <a style="background-color: transparent;"   id="new-topic-and-module" data-url="{% url 'new-topic-and-module' %}">Criar Tópico e Módulo</a>

                <a style="background-color: transparent;" id="new-video" data-url="{% url 'new-video' %}">Criar Vídeo</a>
                {% endif %}
                <a style="background-color: transparent;" id="visit-perfil" data-url="{% url 'perfil' %}">Perfil</a>

                <a  style="background-color: transparent;" id="logout" href="{% url 'logout' %}">Sair</a>
            </div>
        </div>
        {% if not user.status %}
            <a id='stripebutton'>Premium</a>
        {% endif %}
    </div>
</header>