<section>  
    <article>
        {% csrf_token %}
        {% for topic in topics %}
            <p class="module-text">{{topic.title}} {% if request.user.is_staff %}<a href="{% url 'delete-topic' topic.id %}"><i style="color: 
            #d12; font-size: 0.8em;" class="fa-solid fa-trash"></i></a>{% endif %}</p>
            <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for module in topic.topics.all %}
                        <li class="splide__slide">
                            <div class="module" data-id='{{ module.id }}' id="{% if user.status %}free{% else %}{% if module.status %}stripebutton{% else %}free{% endif %}{% endif %}" data-url="{% url 'create-checkout-session' %}">
                                <div class="module-image">

                                    {% if user.status %}
                                        <img src="{{module.image.url}}" alt="">
                                        <div class="overlay"></div>
                                    {% else %}
                                        {% if not user.status and module.status %}
                                            <img src="{{module.image.url}}" alt="">
                                            <div class="overlay"></div>
                                            <i class="fa-solid fa-lock"></i>
                                            <p>Conteúdo Premium</p>
                                        {% else %}
                                            {% if not user.status and not module.status %}
                                                <img src="{{module.image.url}}" alt="">
                                                <div class="overlay"></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <p class="module-title">{{module.title}}</p>
                                <p class="module-description">{{module.description}}</p>
                                
                                
                                <div class="details">
                                    <div class="detail">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p>{{module.videos.count}} Aulas</p>
                                    </div>
                                    <div class="detail">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <p>{{module.formatted_date}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </article>
</section>