/*Reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccccce;
}
/*Div Principal*/
section#CandLogin {
    display: flex;
    width: 80%;
    height: 50%;
    animation: flutuar 2s infinite;
}

/*Div Formulário*/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: white;
    border-radius: 8px
}

/*Título Login*/
.form h1 {
    color: #333333;
    font-size: 2.1em;
}

/*Formulário*/
.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/*Botão ("Já Possuo uma Conta")*/
.form form a {
    align-self: flex-end;
    font-weight: 600;
    color: #333333;
}

/*Inputs*/
.form form input {
    outline: none;
    border: none;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: white;
    transition: border-color 0.4s ease;
}

.form form input::placeholder {
    color: grey;
}

/*Input Submit*/
.form form input#submit {
    color: white;
    background-color: #333333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.4s ease;
}

/*Messages*/
.messages {
    color: #19C37D;
    font-size: 0.8em;
}

/*Aplicativo*/
@media screen and (min-width: 720px) and (max-width: 1920px) {
    section {
        margin: auto;
        width: 80%;
        box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.5);
    }

    body.darkmode .Tasks {
        box-shadow: 0.5px 0.5px 4px rgba(255, 255, 255, 0.5);
    }
}


/*Login e Cadastro*/

@media screen and (min-width: 720px) and (max-width: 1920px) {
    section#CandLogin {
        width: 50%;
        box-shadow: none;
    }
}

@media screen and (max-width: 800px) {
    
    section#CandLogin {
        width: 70%;
        height: 50%;
    }

    .Saudação {
        display: none;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    
    section#CandLogin {
        width: 90%;
        height: 60%;
    }

    .Saudação {
        display: none;
    }

    .form {
        width: 100%;
    }
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}