* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1B1B22;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32353F;
    padding: 24px;
}

header p {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
}

header .perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header .perfil a {
    padding: 12px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #19C37D;
}

header .perfil .perfil-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

header .perfil .perfil-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}