@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121212;
}

div.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

header p {
    color: white;
    font-size: 1.9em;
    
    font-weight: 600;
}

header .perfil {
    position: relative;
    cursor: pointer;
}

header .perfil p {
    color: white;
    font-size: 1.2em;
    font-variant: normal;
}
header .perfil .perfil-options {

    display: none;
    
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 60%;
    padding: 10px 15px;
    padding-right: 100px;
    gap: 5px;
    border-radius: 9px;
    background-color: black;
    border: 1px solid white;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

header .perfil-image {
    width: 70px;
    height: 70px;
}

header .perfil-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 20px;
}

article {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    background-color: #121212;
}

article p {
    color: white;
    font-weight: 500;
    font-size: 1.4em;
}
article .videos {
    display: flex;
    gap: 20px;
}
article .video {
    display: flex;
    position: relative;
    width: 250px;
    height: 450px;
}

article .video img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 24px;
}

.lock-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    gap: 10px;
}

.lock-overlay i {
    color: white;
    font-size: 46px;
    transition: 0.4s;
    position: absolute;
    transform: translateY(10px);
}

article .video:hover .lock-overlay {
    background: rgba(0, 0, 0, 0.6);
}

article .video:hover .lock-overlay i {
    transform: translateY(-40px);
}

.lock-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100px);
}

.lock-overlay:hover .lock-text {
    display: flex;
    opacity: 1;
    transform: translateY(20px);
    transition: transform 0.4s;
}

