@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color:  #0F0F0F;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    padding: 24px;
}

header a#logo {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
}

header .perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

header .perfil a {
    padding: 12px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color:  #2D9964;
    border-radius: 8px;
    transition: 0.4s;
}

header .perfil a:hover {
    color: #3F3F3F;
    background-color:  white;
}

header .perfil .perfil-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    position: relative;
}

header .perfil .perfil-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

header .perfil .perfil-image .options {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 25px;
    right: 20px;
    gap: 10px;
}

header .perfil .perfil-image .options p {
    font-size: 20px;
    color: white;
    font-weight: 600;
}


section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

section article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 12px;
}

section article p.module-text {
    color: white;
    font-size: 2em;
    font-weight: 700;
    position: relative;
    padding-bottom: 8px;
}

section article p.module-text::after {
    content: '';
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0;
    border-bottom: 3px solid #2D9964;
}

section article .module {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 15px;
    border-radius: 12px;
    background-color: #0F0F0F;
    transition: transform 0.4s, box-shadow 0.4s;
}

section article .module:hover {
    cursor: pointer;
    box-shadow: 0.5px 0.5px 8px rgba(255, 255, 255, 0.500);
    transform: translateY(-5px);
}

section article .module .module-image {
    position: relative;
    width: 100%;
}

section article .module .module-image p {
    position: absolute;
    bottom: 0;
    left: 17%;
    color: white;
    font-weight: 600;
    font-size: 24px;
    transition: opacity 0.4s, bottom 0.4s;
    opacity: 0;
}

section article .module .module-image:hover p {
    display: block;
    bottom: 30%;
    opacity: 1;
}

section article .module .module-image i {
    position: absolute;
    left: 45%;
    bottom: 40%;
    font-size: 40px;
    color: white;
    transition: bottom 0.4s;
}

section article .module .module-image:hover i {
    position: absolute;
    left: 45%;
    bottom: 50%;
    font-size: 40px;
    color: white;
}

.overlay {
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.300);
    position: absolute;
    transition: 0.4s;
}

section article .module .module-image:hover .overlay {
    background-color: rgba(0, 0, 0, 0.600);
}

section article .module .module-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.module .module-title {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.module .module-description {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.chess {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.details {
    display: flex;
    gap: 10px;
}

.detail {
    display: flex;
    gap: 8px;
    color: white;
}

.detail p{
    font-weight: 500;
}