{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/video-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/new-comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/comments.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/main-video.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/videos.css' %}">
</head>
<body>
    {% include 'home/header.html' %}
    <section>
        <div class="maincontent">
            {% include 'module/main-video.html' %}
            {% include 'module/comments.html' %}
            {% include 'module/new-comment.html' %}
        </div>
        {% include 'module/videos.html' %}
    </section>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/video-page.js' %}"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        function DeleteVideo() {

        deletebutton = document.querySelector('.delete-video')

        deletebutton.addEventListener('click', function() {
            var moduleId = likeButton.getAttribute("data-moduleid");
            var videoId = likeButton.getAttribute("data-videoid");
            var topicId = likeButton.getAttribute("data-topicid");

            postRequest('/delete-video/', { moduleId: moduleId, videoId: videoId, topicId: topicId });
        });
        }

        function DeleteModule() {

        deletebutton = document.querySelector('.delete-module')

        deletebutton.addEventListener('click', function() {
            var moduleId = likeButton.getAttribute("data-moduleid");
            var topicId = likeButton.getAttribute("data-topicid");

            postRequest('/delete-module/', { moduleId: moduleId, topicId: topicId });
        });
        }
        document.addEventListener('DOMContentLoaded', function() {
            DeleteVideo();
            DeleteModule();
        });
    </script>
</body>
</html>