<header>
    <a id="logo">Djangofy</a>
    <div class="perfil">
        
        <div class="perfil-image">
            <img src="{{user.profileimg.url}}" alt="">
            <div class="options">
                <p id="createtopicandmodule">Criar Tópico e Módulo</p>
                <p id="createvideo">Criar Vídeo</p>
                <p id="perfil">Perfil</p>
                <p id="logout" data-id="{{request.user.id}}">Sair</p>
            </div>
        </div>
        {% if not user.status %}
            <a>Premium</a>
        {% endif %}
    </div>
</header>