<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <a id="logo">Djangofy</a>
        <div class="perfil">
            
            <div class="perfil-image">
                <img src="{{user.profileimg.url}}" alt="">
                <div class="options">
                    <p id="perfil">Perfil</p>
                    <p id="logout" data-id="{{request.user.id}}">Sair</p>
                </div>
            </div>
            {% if not user.status %}
                <a>Premium</a>
            {% endif %}
        </div>
    </header>
    <section>
        <article>
            {% csrf_token %}
            {% for module in modules %}
                
            <p class="module-text">{{module.topic.title}}</p>
            <div class="modules">
                <div class="module" data-id='{{ module.id }}'  data-status="{{ module.status }}">
                    <div class="module-image">
                        {% if user.status %}
                            <img src="{{module.image.url}}" alt="">
                            <div class="overlay"></div>
                        {% else %}
                            {% if not user.status and module.status %}
                                <img src="{{module.image.url}}" alt="">
                                <div class="overlay"></div>
                                <i class="fa-solid fa-lock"></i>
                                <p>Conteúdo Premium</p>
                            {% else %}
                                {% if not user.status and not module.status %}
                                    <img src="{{module.image.url}}" alt="">
                                    <div class="overlay"></div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <p class="module-title">{{module.title}}</p>
                    <p class="module-description">{{module.description}}</p>
                    <p class="chess">Djangofy.com Team</p>
                    <div class="details">
                        <div class="detail">
                            <i class="fa-solid fa-user-graduate"></i>
                            <p>{{module.videos.count}} Aulas</p>
                        </div>
                        <div class="detail">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>{{module.formatted_date}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </article>
    </section>
    <script src="../static/js/script.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>