<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index/style.css">
    <link rel="stylesheet" href="../static/css/index/header.css">
    <link rel="stylesheet" href="../static/css/index/module.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include 'header.html' %}
    {% include 'maincontent.html' %}
    
    <script src="../static/js/script.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
</body>
</html>