{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic And Module</title>
    <link rel="stylesheet" href="{% static 'css/postar/new-topic-module-and-video.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/header.css' %}">
</head>
<body>
    {% include 'home/header.html' %}
    <section>
        <form id="myForm" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div>
                <p>Tópico</p>
                <input type="text" placeholder="Título" name="topictitle" required>
            </div>

            <div>
                <p>Módulo</p>
                <input type="text" placeholder="Título" name="moduletitle"required>
                <input type="text" placeholder="Descrição" name="moduledescription" required>
            </div>
            
            <div>
                <p>Capa do Módulo</p>
                <input type="file" name="thumbnail" required>
            </div>

            <div>
                <p>Tipo de Conteúdo</p>
                <select name="videoversion">
                    <option value="False">Gratuito</option>
                    <option value="True">Premium</option>
                </select>
            </div>

            <div>
                <input type="submit" value="Criar Vídeo" required>
            </div>
            
        </form>
    </section>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/new-topic-module-and-video.js' %}"></script>
</body>
</html>