<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/perfil.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <a id="logo">Curso</a>
        <div class="perfil">
            <div class="perfil-image">
                <img src="../static/img/1708190589974.jpg" alt="">
            </div>
            <a href="">Premium</a>
        </div>
    </header>
    <section>
        <article>
            <p>Informações</p>
            <form action="">
                <label for="name">Nome<input type="text" name="name" id=""></label>
                <label for="email">Email<input type="email" name="email" id=""></label>
                <button type="submit">Salvar</button>
            </form>
        </article>
        <article>
            <p>Editar Senha</p>
            <form action="">
                <label for="password">Senha<input type="password" name="password" id=""></label>
                <label for="password2">Confirmar Senha<input type="password" name="password2" id=""></label>
                <button type="submit">Alterar Senha</button>
            </form>
        </article>
    </section>
    <script src="../static/js/main.js"></script>
</body>
</html>