<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeo</title>
    <link rel="stylesheet" href="../static/css/postar/postar.css">
    <link rel="stylesheet" href="../static/css/index/header.css">
</head>
<body>
    {% include 'header.html' %}
    <section>
        <div>
            <p>Título do Vídeo</p>
            <input type="text" placeholder="Título">
        </div>
        <div>
            <p>Descrição do Vídeo</p>
            <input type="text" placeholder="Descrição">
            
        </div>
        <div>
            <p>Url do Vídeo</p>
            <input type="text" placeholder="Url">   
        </div>
        
        <div>
            <p>Capa do Vídeo</p>
            <input type="file" name="" id="">
        </div>
        <div>
            <p>Selecionar Tópico</p>
            <select name="" id="">
                <option value="False">English</option>
                <option value="Premium">Programming</option>
            </select>
        </div>
        <div>
            <p>Módulo</p>
            <select name="" id="">
                <option value="False">30 dias</option>
                <option value="Premium">60 dias</option>
            </select>
        </div>
        >
        
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>