{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/module/videopage.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/comentar.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/comentario.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/video.css' %}">
    <link rel="stylesheet" href="{% static 'css/module/videos.css' %}">
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="../static/js/videopage.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <section>
        <div class="maincontent">
            {% include 'video.html' %}
            
            {% include 'comentario.html' %}
            {% include 'comentar.html' %}
            
        
            
        </div>
        {% include 'videos.html' %}
    </section>
    
    <script src="../static/js/videopage.js"></script>
</body>
</html>