
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/videopage.css">
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="../static/js/videopage.js"></script>
</head>
<body>
    <header>
        <a id="logo">Djangofy</a>
        <div class="perfil">
            <div class="perfil-image">
                <img src="../static/img/1708190589974.jpg" alt="">
                <div class="options">
                    <p id="perfil">Perfil</p>
                    <p>Sair</p>
                </div>
            </div>
            <a href="">Premium</a>
        </div>
    </header>
    <section>
        <div class="mainvideo">
            {{mainvideo.url|safe}}
            <div class="mainvideotext">
                <p>{{mainvideo.title}}</p>
                
                <span>{{mainvideo.description}}</span>
            </div>
            <div class="buttons">
                <a href="" class="check">Marcado</a>
                <a href="" class="like"><i class="fa-regular fa-heart"></i>Like</a>
                <span><a class="fa-solid fa-arrow-left"></a><a class="fa-solid fa-arrow-right"></a></span>
            </div>
        </div>
        
        <div class="comentario">
            <p id="comentarios">Comentários ({{comments.count}})</p>
            {% for comment in comments %}
                {% if not comment.response %}
                    <div id="comentario">
                        <div id="perfil">
                            <img src="{{ comment.user.profileimg.url }}" alt="Profile Picture">
                        </div>
                        <div id="descricao">
                            <a href="#">{{ comment.user.user.username }}</a>
                            <p>{{ comment.text }}</p>
                            <!-- Respostas -->
                            {% for response in comment.responses.all %}
                                <div id="subcomentario">
                                    <div id="perfil">
                                        <img src="{{ response.user.profileimg.url }}" alt="Profile Picture">
                                    </div>
                                    <div id="descricao">
                                        <a href="#">{{ response.user.user.username }}</a>
                                        <p>{{ response.text }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="videos">
            {% for video in videos %}
                {% if video == mainvideo %}
                <div class="video" data-id='{{ video.id }}' style="background-color: #3F3F3F;">
                    <div class="videoimage">
                        <img src="{{video.image.url}}" alt="">
                    </div>
                    <p class="level">{{module.topic.title}}</p>
                    <p class="videotitle">{{video.title}}</p>
                </div>
                {% else %}
                    <div class="video" data-id='{{ video.id }}'>
                        <div class="videoimage">
                            <img src="{{video.image.url}}" alt="">
                        </div>
                        <p class="level">{{module.topic.title}}</p>
                        <p class="videotitle">{{video.title}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% csrf_token %}
    </section>
    <script src="../static/js/videopage.js"></script>
</body>
</html>