<div class="mainvideo">
                
               
    {{mainvideo.url|safe}}
    
    <div class="mainvideotext">
        <p>{{mainvideo.title}}</p>
        
        <span>{{mainvideo.description}}</span>
    </div>
    <div class="buttons">
        {% if check %}
            <a style="background-color: #44B78B;" data-moduleid="{{ module.id }}" data-videoid="{{ mainvideo.id }}" data-topicid="{{ module.topic.id }}" class="check">Marcado</a>
        {% else %}
            <a class="check" data-moduleid="{{ module.id }}" data-videoid="{{ mainvideo.id }}" data-topicid="{{ module.topic.id }}">Marcar</a>
        {% endif %}
        {% if like %}
            <a style="background-color: #ff0000;" class="like" data-moduleid="{{ module.id }}" data-videoid="{{ mainvideo.id }}" data-topicid="{{ module.topic.id }}"><i class="fa-regular fa-heart"></i>{{ likes.count }}</a>
        {% else %}
            <a class="like" data-moduleid="{{ module.id }}" data-videoid="{{ mainvideo.id }}" data-topicid="{{ module.topic.id }}"><i class="fa-regular fa-heart"></i>{{ likes.count }}</a>
        {% endif %}

        <span><a class="fa-solid fa-arrow-left"></a><a class="fa-solid fa-arrow-right"></a></span>
    </div>
    
</div>
