{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.username}}</title>
    <link rel="stylesheet" href="{% static 'css/perfil/visit-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/header.css' %}">
</head>
<body>
    {% include 'home/header.html' %}
    <section>
        <article>
            <p>Informações</p>
            <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            
            <form method="POST">
                {% csrf_token %}
                <label for="name">Nome<input type="text" name="name" id="name" value="{{request.user.username}}"></label>
                <button id="namesubmit">Salvar</button>
            </form>
        </article>

        <article>
            <p>Editar Senha</p>
            <form method="POST" id="passwordForm">
                {% csrf_token %}
                <label for="password">Senha<input type="password" name="password" id="password"></label>
                <label for="password2">Confirmar Senha<input type="password" name="password2" id="password2" ></label>
                <button id="passwordsubmit" type="submit">Salvar</button>
            </form>

            <p>Foto de Perfil</p>
            <form method="POST" id="imageForm" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="image"><input type="file" name="image" id="image"></label>
                <button type="submit">Salvar</button>
            </form>
    </section>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/visit-profile.js' %}"></script>
</body>
</html>